.catalog {
	z-index: 1;
	position: relative;
	top: -60px;
	padding-top: 60px;
	margin-bottom: -60px;
}

.catalog-top {
	position: relative;
	z-index: 2;
	background-color: #f8f8f8;

	&__wrap {
		position: relative;
		background: url(/Media/assets/images/catalog/catalog-main.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: calc(864 / 1920 * 100%);

		@include media(def, max) {
			padding-top: 627px;
			background-position: center center;
		}

		@include media(sm, max) {
			background-image: url(/Media/assets/images/catalog/catalog-main-mobile.png);
		}

	}

	&__info {
		padding-top: 5.3%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;

		@include media(1600px, max) {
			padding-top: rem(180);
		}

		@include media(lg, max) {
			padding-top: rem(150);
		}

		@include media(def, max) {
			padding-top: 170px;
		}

		@include media(sm, max) {
			padding-top: 37%;
		}

		@include media(xs, max) {
			padding-top: 50%;
		}
	}

	&__title {
		line-height: 1.2;
		font-size: 40px;
		color: map-get($colors, light);
		font-weight: 500;
		letter-spacing: 0.1px;
		text-align: center;

		@include media(sm) {
			padding: 0 24px;
		}

		@include media(ms) {
			font-size: rem(60);
		}

		@include media(def) {
			font-size: rem(70);
			font-weight: 500;
		}

		@include media(lg) {
			text-align: left;

			[dir="rtl"] & {
				text-align: right;
			}
		}
	}
}

.catalog-left {
	position: relative;
	z-index: 120;
	padding-top: 120px;
	padding-bottom: 120px;
	background: url(/Media/assets/images/catalog/catalog-main-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	&__inner {
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}

	&__form {
		max-width: 470px;
		padding: 10px;
		background-color: #fff;
		border-radius: 8px;

		@media (min-width: 768px) {
			padding: 40px;
		}

		&-item {
			padding: 10px;
			border-radius: 8px;
			border: 1px solid #e1e1e1;

			& + & {
				margin-top: 10px;
			}

			@media (min-width: 768px) {
				padding: 20px 27px;
			}

			&--collapsed {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
			}

			&-label {
				font-size: 12px;
				font-weight: 600;
				color: #5db9ce;
				text-transform: uppercase;
			}

			&-toggle {
				position: relative;
				width: 29px;
				height: 10px;
				background-color: #e5e5e5;
				border-radius: 5px;
				cursor: pointer;
				transition: .3s ease-out background-color;

				&-input {
					display: none;
				}

				> span {
					z-index: 10;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translate(0, -50%);
					width: 15px;
					height: 15px;
					border: 1px solid #f0f0f0;
					border-radius: 50%;
					background: #fff;
					box-shadow: 2.298px 1.928px 5px 0 rgba(0, 0, 0, 0.1);
					transition: .3s ease-out all;
				}

				input:checked + & {
					background-color: rgba(#01bab4, .3);

					> span {
						left: 100%;
						transform: translate(-100%, -50%);
						background: #01bab4;
						border-color: #01bab4;
					}
				}
			}

			.fs-search {
				width: 100%;

				.fs-search__input {
					cursor: pointer;
				}

				.fs-search__wrap .fs-input {
					padding-left: 20px;
				}

				.form-group__wrap::before {
					display: none;
				}

				.form-group__wrap::after {
					content: '';
					position: absolute;
					top: 50%;
					right: 12px;
					transform: translateY(-50%);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 6px 4.5px 0 4.5px;
					border-color: #212121 transparent transparent transparent;
				}
			}

			&-content {
				padding-top: 15px;
				width: 100%;
				display: none;

				&-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 10px;
					flex-wrap: wrap;

					.fs-goal__item,
					.fs-goal__text {
						margin-bottom: 5px;
						font-size: 12px;
						color: #313131;
						letter-spacing: 0.025em;
					}

					.fs-goal__item {
						margin-right: 0;
					}

					.fs-goal__text {
						border: 1px solid #e1e1e1;
						background-color: #fff;
						color: #313131;
						border-radius: 5px;
						width: 100%;
						height: 30px;
						padding: 3px 10px;

						@media (min-width: 768px) {
							max-width: 190px;
						}
					}
				}

				input:checked + label + & {
					display: block;
				}
			}
		}

		.fs-calendar,
		.fs-nights,
		.fs-visitors {
			width: 100%;
		}

		.fs-goal,
		.fs-goal__label {
			text-align: left;
		}

		.fs-goal__label {
			margin: 0 15px 10px 0;
		}

		.form-group__label {
			padding-left: 0;
		}

		@media (min-width: 768px) {
			.form-group {
				align-items: center;
			}

			.fs-nights {
				margin-top: 10px;
			}

			.fs-goal {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 21px;

				.fs-goal__item {
					margin-bottom: 0;
					font-size: 12px;
				}
			}

			.fs-visitors {
				display: flex;
			}

			.fs-submit {
				display: block;
				width: 100%;
				margin: 10px 0 0;
				padding: 0;

				.fs-submit__btn {
					width: 100%;
				}
			}

			.fs-calendar__group,
			.fs-nights__group,
			.fs-goal__items,
			.fs-visitors__item {
				max-width: 200px;
				width: 100%;
				margin-left: auto;
			}

			.form-group__label {
				max-width: 130px;
				margin: 0;
			}
		}
	}
}
