.confirmation {
	padding: 85px 0;
	background: #f1f9fb;
	flex-grow: 1;

	@include media(ms) {
		padding: 100px 0;
	}

	&__content {
		padding: 40px 0;
		position: relative;

		&::before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: url(/Media/assets/images/confirm/confirm-bg.png);
			background-position: right center;
			background-size: contain;
			background-repeat: no-repeat;

			[dir="rtl"] & {
				transform: scale(-1, 1);
			}

			.confirmation--error & {
				background-image: url(/Media/assets/images/confirm/confirm-bg-2.png);

			}
		}

		@include media(lg) {
			padding: 50px 0;
		}
	}

	&__container {
		width: 90%;
		margin-left: 10%;
		height: 100%;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		box-shadow: 14.627px 13.64px 45px 0 rgba(114, 195, 214, 0.25);
		position: relative;

		[dir="rtl"] & {
			margin-right: 10%;
			margin-left: 0;
			box-shadow: -14.627px 13.64px 45px 0 rgba(114, 195, 214, 0.25);
		}

		&::before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);

			[dir="rtl"] & {
				background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 1%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
			}
		}

		@include media(lg) {
			margin-left: 29%;
			width: 71%;

			[dir="rtl"] & {
				margin-left: 0;
				margin-right: 29%;
			}
		}
	}

	&__wrap {
		max-width: 1170px;
		padding: 9% 5% 9% 9%;
		position: relative;

		[dir="rtl"] & {
			padding: 9% 9% 9% 5%;
		}

		@include media(ms) {
			padding: 5% 15% 5% 5%;

			[dir="rtl"] & {
				padding: 5% 5% 5% 15%;
			}
		}

		@include media(lg) {
			padding: 58px 115px 60px 103px;
			min-height: 350px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			[dir="rtl"] & {
				padding: 58px 103px 60px 115px;
			}
		}

	}

	.section-img {
		position: absolute;
		display: none;
		top: -10%;
		left: -17%;
		height: rem(421);
		max-height: rem(421);

		[dir="rtl"] & {
			right: -17%;
			left: auto;
		}

		@include media(md) {
			display: inline-block;
		}

		@include media(def, max) {
			top: 20%;
			max-height: 60%;
		 }

		@include media(lg, max) {
			left: -10%;
			top: 10%;
			max-height: 70%;

			[dir="rtl"] & {
				right: -10%;
				left: auto;
			}
		}
	}

	&__text {
		font-size: 14px;
		color: #707070;
		margin-bottom: 15px;
		line-height: 1.2;
		@include media(md) {
			font-size: 15px;
		}
		@include media(def) {
			margin-bottom: 30px;
		}

		&--md {
			font-size: 16px;

			@include media(md) {
				font-size: 18px;
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size: 25px;
		margin-bottom: 25px;
		letter-spacing: 0.01em;
		line-height: 1.2;

		@include media(md) {
			font-size: 40px;
			margin-bottom: 35px;
		}

		svg {
			height: 40px;
			width: 40px;
			min-height: 40px;
			min-width: 40px;
			position: relative;
			top: 5px;
			margin-right: 10px;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 10px;
			}

			@include media(md, max) {
				height: 30px;
				width: 30px;
				min-height: 30px;
				min-width: 30px;
				margin-right: 5px;

				[dir="rtl"] & {
					margin-right: 0;
					margin-left: 5px;
				}
			}

		}

		&--success {
			color: #01bab4;

			svg {
				fill: #01bab4;
			}
		}

		&--error {
			color: #df2d69;

			svg {
				fill: #df2d69;
			}
		}
	}

	&__bottom {
		font-size: 16px;
		font-weight: 600;
		color: #313131;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include media(md, max) {
			font-size: 15px;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__bottom-text,
	&__link {
		@include media(md) {
			margin-top: 17px;
		}
	}

	&__link {
		padding: 8px 42px;
		text-transform: none;
		border-radius: 5px;
		margin-top: 15px;

		@include media(md) {
			margin-left: 40px;

			[dir="rtl"] & {
				margin-left: 0;
				margin-right: 40px;
			}
		}

	}

	&__list {
		list-style: none;
		margin: 0;
		padding-left: 20px;


		[dir="rtl"] & {
			padding-left: 0;
			padding-right: 18px;
		}

		@include media(ms, max) {
			display: inline-flex;
			flex-direction: column;
			text-align: left;

			[dir="rtl"] & {
				text-align: right;
			}
		}

	}

	&__list-item {
		color: #313131;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.025em;
		margin-bottom: 11px;
		position: relative;
		font-weight: 700;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			position: relative;
			display: inline-block;
			color: inherit;

			&[href] {
				text-decoration: none;
				transition: color map-get($transitions, normal);

				&:hover {
					color: #5db9ce;
				}
			}

			&::before {
				position: absolute;
				left: -18px;
				top: 6px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				display: inline-block;
				content: '';
				background: #df2d69;

				[dir="rtl"] & {
					left: auto;
					right: -18px;
				}
			}
		}
	}
}

.confirmation-modern {
	padding: 155px 15px 55px;
	flex-grow: 1;
	background-size: cover;
	background-position: center bottom;

	&__inner {
		width: 100%;
		max-width: 849px;
		margin-left: auto;
		margin-right: auto;
		padding: 30px 15px;
		border-radius: 5px;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;

		@media (min-width: 768px) {
			padding: 60px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30px 15px;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
		border-radius: 3px;

		@media (min-width: 768px) {
			padding: 46px 60px 50px;
		}
	}

	&__title {
		display: flex;
		align-items: flex-start;
		margin: 0;
		font-size: 26px;
		line-height: 1.2;
		color: #01bab4;

		@media (min-width: 768px) {
			font-size: 40px;
		}

		&-icon {
			flex-shrink: 0;
			margin-right: 0.4em;
			transform: translateY(0.05em);
			fill: currentColor;
			width: 1em;
			height: 1em;

			[dir='rtl'] & {
				margin-right: 0;
				margin-left: 0.4em;
			}
		}
	}

	&__text {
		margin-top: 20px;
		font-size: 16px;
		text-align: center;

		@media (min-width: 768px) {
			margin-top: 30px;
		}
	}

	&__accept {
		flex: 1 0 100%;
		width: 100%;
		margin-top: 15px;
		padding: 20px 20px;
		font-size: 17px;
		font-weight: 700;
		color: #01bab4;
		border: 1px solid #72c3d6;
		border-radius: 3px;

		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: -10px;

			> * {
				margin-bottom: 10px;
			}
		}

		&-link {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			flex: 0 0 auto;
			min-width: 135px;
			min-height: 33px;
			padding: 5px 15px;
			font-size: 15px;
			letter-spacing: 0.025em;
			color: #fff;
			text-decoration: none;
			border-radius: 3px;

			&,
			&:focus,
			&:active {
				background-color: #01bab4;
			}

			&:hover {
				background-color: rgba(1, 186, 180, 0.83)
			}
		}

		@media (min-width: 768px) {
			margin-top: 23px;
			padding: 20px 40px;
		}
	}

	&__print {
		margin-top: 40px;
		margin-bottom: 25px;
		text-align: center;

		@media (min-width: 768px) {
			margin-top: 45px;
		}

		button {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 5px 15px;
			min-width: 200px;
			min-height: 33px;
			font-size: 15px;
			letter-spacing: 0.025em;
			font-weight: 400;
			border: none;
			outline: none;
			border-radius: 8px;
			cursor: pointer;
			transition: .3s ease-out all;

			&,
			&:focus,
			&:active {
				color: #fff;
				fill: #fff;
				background-color: #01bab4;
			}

			&:hover {
				color: #fff;
				fill: #fff;
				background-color: #019c97;
			}
		}

		svg {
			flex-shrink: 0;
			margin-right: 10px;

			[dir='rtl'] & {
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}

	@media (max-width: 1279px) {
		&__table {
			font-size: 15px;
			line-height: 1.4;

			&-header {
				display: none;
			}

			&-body {
				display: flex;
				flex-wrap: wrap;
			}

			&-row {
				position: relative;
				flex-grow: 1;
				margin: 10px;
				border: 1px solid #929292;
				border-radius: 3px;
				overflow: hidden;

				&--success {
					background-color: rgba(#44b759, .2);

					.confirmation-modern__table-row-icon.confirmation-modern__table-row-icon--success {
						display: block;
					}
				}

				&--error {
					background-color: rgba(#ff5b5b, .2);

					.confirmation-modern__table-row-icon.confirmation-modern__table-row-icon--error {
						display: block;
					}
				}

				&-icons {
					position: absolute;
					top: 7px;
					right: 10px;

					.confirmation-modern__table-row-icon {
						display: none;
					}

					.confirmation-modern__table-row-icon--error {
						fill: #ff5b5b;
					}

					.confirmation-modern__table-row-icon--success {
						fill: #44b759;
					}
				}
			}

			&-col {
				padding: 10px;
				overflow: hidden;

				& + & {
					border-top: 1px solid #929292;
				}

				&-title {
					display: flex;
					align-items: center;
					font-weight: 700;
					margin-bottom: 3px;

					svg {
						fill: #00b8b0;
						margin-right: 5px;

						[dir='rtl'] & {
							margin-right: 0;
							margin-left: 5px;
						}
					}
				}
			}
		}
	}

	@media (min-width: 1280px) {
		&__table {
			min-width: 1230px;
			width: 100%;
			border-radius: 8px;
			overflow: hidden;
			padding-right: 60px;

			&-wrapper {
				max-width: 1230px;
				margin-left: auto;
				margin-right: auto;
				overflow-x: auto;
				width: 100%;
			}

			&-header {
				fill: #01bab4;
				color: #df2d69;
				text-transform: uppercase;
				background-color: #f8f8f8;

				.confirmation-modern__table-col {
					border-top: 1px solid #e1e1e1;


					&:first-child {
						border-top-left-radius: 8px;
						border-left: 1px solid #e1e1e1;
					}

					&:nth-child(4),
					&:last-child {
						border-top-right-radius: 8px;
						border-right: 1px solid #e1e1e1;
					}
				}
			}

			&-body {
				background-color: #ffffff;

				.confirmation-modern__table-col {
					padding: 18px 10px;
				}
			}

			&-footer {
				font-size: 15px;
				font-weight: 700;
				color: #01bab4;
				letter-spacing: 0;

				.confirmation-modern__table-col {
					padding: 15px 10px;
				}

				.confirmation-modern__table-col.confirmation-modern__table-col {
					width: 50%;
					border-bottom: 1px solid #e1e1e1;
					background-color: #fff;

					&:first-child {
						border-bottom-left-radius: 8px;
					}

					&:last-child {
						border-bottom-right-radius: 8px;
					}
				}
			}

			&-row {
				position: relative;
				display: flex;

				&:nth-child(even) {
					.confirmation-modern__table-col {
						border-top: 1px solid #e1e1e1;
						border-bottom: 1px solid #e1e1e1;
					}
				}

				&-icons {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 100%;
					margin-left: 20px;
				}

				&-icon {
					&--error {
						fill: #ff5b5b;
					}

					&--success {
						fill: #44b759;
					}
				}

				.confirmation-modern__table-row-icon {
					display: none;
				}

				&--error {
					.confirmation-modern__table-row-icon--error {
						display: block;
					}

					.confirmation-modern__table-col.confirmation-modern__table-col {
						border-top: 2px solid #ff5b5b;
						border-bottom: 2px solid #ff5b5b;
						background-color: rgba(#ff5b5b, .1);

						&:first-child {
							border-left: 2px solid #ff5b5b;
						}

						&:nth-child(4),
						&:last-child {
							border-right: 2px solid #ff5b5b;
						}
					}
				}

				&--success {
					.confirmation-modern__table-row-icon--success {
						display: block;
					}

					.confirmation-modern__table-col.confirmation-modern__table-col {
						border-top: 2px solid #44b759;
						border-bottom: 2px solid #44b759;
						background-color: rgba(#44b759, .1);

						&:first-child {
							border-left: 2px solid #44b759;
						}

						&:last-child,
						&:nth-child(4) {
							border-right: 2px solid #44b759;
						}
					}
				}
			}

			&-col {
				flex-grow: 1;
				flex-shrink: 0;
				text-align: center;
				padding: 10px;
				font-size: 14px;
				border-right: 1px solid #e1e1e1;

				&-title {
					display: none !important;
				}

				&:first-child {
					border-left: 1px solid #e1e1e1;
				}

				&:last-child {
					border-right: 1px solid #e1e1e1;
				}

				&:nth-child(1) {
					width: 19.2%;
					min-width: 174px;
				}

				&:nth-child(2) {
					width: 25.6%;
				}

				&:nth-child(3) {
					width: 11.1%;
					min-width: 133px;
				}

				&:nth-child(4) {
					width: 42.7%;
				}

				svg, span {
					display: inline-block;
					vertical-align: middle;
				}

				svg {
					margin-right: 10px;
					transform: translateY(-1px);
				}
			}
		}
	}
}

