.review {
	background: #f8f8f8;
	padding-top: 40px;

	@include media(def) {
		margin-right: 10px;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 10px;
		}
	}

	.summary-hotel {
		border: 1px solid rgb(240, 240, 240);
		border-radius: 3px;
		padding-bottom: 10px;
		margin-right: 0;
		margin-bottom: 30px;
	}

	&__payment {
		margin-top: 30px;
	}

	.sm-hotel {
		border: 1px solid #f0f0f0;
		border-radius: 3px;
		margin: 0 -10px;
		padding: 40px 10px 10px;
		margin-top: -26px;

		.hotel-status {
			display: flex;
			justify-content: center;
			align-items: center;

			&--success {
				.hotel-status-btn--success {
					display: inline-flex;
				}

				.hotel-status-btn--error {
					display: none;
				}

				.hotel-status-retry {
					display: none;
				}
			}

			&--error {
				.hotel-status-btn--success {
					display: none;
				}

				.hotel-status-btn--error {
					display: inline-flex;
				}

				.hotel-status-retry {
					display: block;
				}
			}

			&-text {
				margin-right: 10px;
				font-family: 'Lato';
				font-size: 14px;
				letter-spacing: 0.025em;
				color: #9c9c9c;

				[dir="rtl"] & {
					margin-left: 10px;
					margin-right: 0;
				}
			}

			&-btn {
				display: inline-flex;
				padding: 5px 10px;
				justify-content: center;
				align-items: center;
				width: 170px;
				min-height: 35px;
				font: 'Lato';
				font-size: 14px;
				letter-spacing: 0.025em;
				border-radius: 3px;
				color: #fff;
				fill: #fff;
				background: #0f0f0f;

				&--success {
					background-color: #44b759;
				}

				&--error {
					background-color: #ff5b5b;
				}

				svg {
					margin-right: 10px;
				}

				[dir="rtl"] & svg {
					margin-left: 10px;
					margin-right: 0;
				}
			}

			&-retry {
				display: none;
				margin-left: 10px;
				border: none;
				outline: none;
				background: transparent;
				font-size: 12px;
				letter-spacing: 0.01em;
				fill: #01bab4;
				color: #5db9ce;
				cursor: pointer;

				svg {
					transition: .3s ease-out transform;
				}

				&:hover {
					svg {
						transform: scale(1.05);
					}
				}

				[dir='rtl'] & {
					margin-left: 0;
					margin-right: 10px;
				}
			}
		}
	}

	&__tabs {
		padding: 0 5px;
		margin-top: 15px;
	}

	&__tab {
		position: relative;
		background: #ffffff;
		cursor: pointer;
		width: 100%;
		padding: 10px 40px;
		font-size: 14px;
		font-weight: bold;
		color: #b9b9b9;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgb(240, 240, 240);
		border-radius: 3px;
		transition: 0.1s ease;

		@include media(xs, max) {
			font-size: 14px;
		}

		&:hover,
		&.tab-active {
			color: map_get($colors, main);
			border-color: map_get($colors, main);

			svg {
				fill: map_get($colors, main);
			}
		}

		&.tab-active {
			cursor: auto;
		}

		svg {
			height: 20px;
			width: 20px;
			min-height: 20px;
			min-width: 20px;
			margin-right: 10px;
			fill: #b9b9b9;
			transition: fill 0.1s ease;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 10px;
				//transform: scale(-1, 1);
			}

			&.icon-lg {
				transform: scale(1.3);
				position: relative;
				top: -5px;

				[dir="rtl"] & {
					transform: scale(1.3, 1.3);
				}
			}

			@include media(sm) {
				margin-right: 15px;

				[dir="rtl"] & {
					margin-right: 0;
					margin-left: 15px;
				}
			}
		}

		.review__tab-status-icons {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;

			&.review__tab-status-icons--success {
				.review__tab-status-icon--success {
					display: block;
				}

				.review__tab-status-icon--error {
					display: none;
				}
			}

			&.review__tab-status-icons--error {
				.review__tab-status-icon--success {
					display: none;
				}

				.review__tab-status-icon--error {
					display: block;
				}
			}

			.review__tab-status-icon {
				margin: 0;
			}

			.review__tab-status-icon--success {
				fill: #44b759;
			}

			.review__tab-status-icon--error {
				fill: #ff5b5b;
			}
		}
	}

	&__selected {
		width: 100%;
		@include media(ms) {
			width: 240px;
			min-width: 240px;
		}
	}

	&__selected-item {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-right: 3px;

		&--second {
			justify-content: flex-start;
		}

		@include media(ms, max) {
			justify-content: center;
		}


		&:not(:first-of-type) {
			margin-top: 20px;
		}
	}

	&__selected-text {
		font-size: 16px;

		@include media(ms, max) {
			margin-right: 15px;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 15px;
			}
		}

		&--color {
			color: #72c3d6;
			font-size: 18px;
			padding-left: 15px;

			[dir="rtl"] & {
				padding-left: 0;
				padding-right: 15px;
			}
		}
	}

	&__selected-label {
		font-size: 12px;
		text-transform: uppercase;
		padding: 8px 25px;
		border-radius: 5px;
		color: #ffffff;
		background-color: #abce5a;
	}

	&__company {
		flex-grow: 1;
		display: flex;
		align-items: center;

		@include media(ms) {
			margin-left: 40px;

			[dir="rtl"] & {
				margin-right: 40px;
				margin-left: 0;
			}
		}
	}

	&__path-item {
		display: flex;
		width: 100%;

		@include media(ms, max) {
			margin-top: 20px;
			justify-content: center;
		}
	}

	&__path {
		flex-grow: 1;

		@include media(ms, max) {
			width: 100%;
		}
		@include media(ms) {
			margin-left: 40px;

			[dir="rtl"] & {
				margin-right: 40px;
				margin-left: 0;
			}
		}
	}

	&__top {
		font-weight: 700;
		display: flex;
		align-items: center;
		width: 100%;

		.review-transport & {
			align-items: flex-start;
		}

		@include media(ms, max) {
			flex-direction: column;
		}
	}

	&__marker {
		position: relative;
		height: 20px;
		width: 20px;
		margin-right: 15px;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 15px;
		}

		svg {
			fill: map-get($colors, main);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: 0 auto;
			height: 20px;
			width: 20px;
		}

		&::before {
			position: absolute;
			display: block;
			content: '';
			bottom: -15px;
			height: 20px;
			width: 20px;
			right: 0;
			left: 0;
			margin: 0 auto;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(/Media/assets/images/transportation/marker-active.png);
			background-size: contain;
		}
	}
}

.review-block {
	margin-bottom: 30px;
	border: 1px solid rgb(240, 240, 240);
	border-radius: 3px;

	&__info {
		padding: 10px 15px;
		background: #fbfbfb;
		border-radius: 3px;

		@include media(sm) {
			padding: 10px 20px;

			.review-transport &,
			.review-ground & {
				padding: 25px 20px 0;
			}
		}
	}

	.review-head {
		padding-bottom: 8px;
	}
}

.review-head {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	margin-bottom: 13px;

	.review-passengers & {
		border-bottom: 1px solid #01bab4;
	}

	.review-transport &,
	.review-ground & {
		margin-bottom: 0;
	}

	@include media(xs, max) {
		font-size: 12px;
	}

	&__left {
		flex-wrap: wrap;
		font-size: 16px;
		font-weight: bold;
		color: #df2d69;
		text-transform: uppercase;
		display: flex;
		align-items: center;

		@include media(xs, max) {
			font-size: 14px;
		}

		svg {
			height: 30px;
			width: 30px;
			min-height: 30px;
			min-width: 30px;
			fill: map_get($colors, main);
			margin-right: 10px;

			@include media(ms) {
				height: 37px;
				width: 37px;
				min-height: 37px;
				min-width: 37px;
				margin-right: 20px;

				.review-transport &,
				.review-ground &,
				.review-passengers & {
					height: 30px;
					width: 30px;
					min-height: 30px;
					min-width: 30px;
				}
			}

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 10px;
				transform: scale(-1, 1);

				@include media(ms) {
					margin-left: 20px;
				}
			}
		}

		.icon-lg {
			transform: scale(1.2);
			position: relative;
			top: -10px;
		}
	}

	&__right {
		display: flex;
		align-items: center;

		a {
			text-decoration: none;
			font-size: 14px;
			font-weight: bold;
			color: map_get($colors, main);
			text-transform: uppercase;
			display: flex;
			align-items: center;
			@include media(xs, max) {
				font-size: 12px;
			}

			&:hover {
				color: map-get($colors, secondary);

				svg {
					transform: rotate(180deg);
					fill: map-get($colors, secondary);

					[dir="rtl"] & {
						transform: rotate(-180deg);
					}
				}
			}
		}

		svg {
			transition: 0.15s linear;
			height: 18px;
			width: 18px;
			min-height: 18px;
			min-width: 18px;
			fill: map_get($colors, main);
			margin-right: 5px;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}
}

.review-passengers {
	&__body {
		padding: 10px 0;

		@include media(def) {
			padding: 10px 20px;
		}
	}

	&__item {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 600;
		color: #909090;
		text-transform: none;
		margin-bottom: 10px;

		.review-head & {
			padding-left: 10px;
			margin-bottom: 0;

			@include media(ms) {
				padding-left: 20px;
			}

			[dir="rtl"] & {
				padding-right: 10px;
				padding-left: 0;

				@include media(ms) {
					padding-right: 20px;
				}
			}
		}

		&--md {
			color: #313131;
			font-weight: 700;
		}

	}
}

.review-transport {
	&__quantity {
		align-items: center;
		font-weight: 400;
		@include media(ms) {
			margin-top: 20px;
		}

		&-val {
			font-weight: 700;
			padding: 5px 15px;
			background: #f4fdff;
			border: 1px solid rgb(215, 215, 215);
			border-radius: 3px;
			margin: 0 15px;
		}
	}

	&__route {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		svg {
			height: 20px;
			min-height: 20px;
			width: 20px;
			min-width: 20px;
			fill: #df2d69;

			[dir="rtl"] & {
				transform: scaleX(-1);
			}
		}

		span {
			font-size: 16px;
			font-weight: 700;
			display: inline-block;
			margin-right: 15px;
			color: #313131;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 15px;
			}

			@include media(sm, max) {
				margin-right: 6px;

				[dir="rtl"] & {
					margin-right: 0;
					margin-left: 6px;
				}
			}

			@include media(lg) {
				font-size: 18px;
			}



			&:last-of-type {
				margin-right: 0;

				[dir="rtl"] & {
					margin-left: 0;
				}
			}
		}
	}

	&__body {
		padding: 27px 0;
	}

	&__footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 11px;
		margin-bottom: -10px;
		background-color: #f2fcff;

		> * {
			margin-bottom: 10px;
		}

		&--success {
			.review-transport__footer-btn--success {
				display: inline-flex;
			}

			.review-transport__footer-btn--error {
				display: none;
			}
		}

		&--error {
			.review-transport__footer-btn--success {
				display: none;
			}

			.review-transport__footer-btn--error {
				display: inline-flex;
			}
		}

		&-text {
			margin-right: 10px;
			font-family: 'Lato';
			font-size: 14px;
			letter-spacing: 0.025em;
			color: #9c9c9c;

			[dir="rtl"] & {
				margin-left: 10px;
				margin-right: 0;
			}
		}

		&-btn {
			display: inline-flex;
			padding: 5px 10px;
			justify-content: center;
			align-items: center;
			width: 170px;
			min-height: 35px;
			font: 'Lato';
			font-size: 14px;
			letter-spacing: 0.025em;
			border-radius: 3px;
			color: #fff;
			fill: #fff;
			background: #0f0f0f;

			&--success {
				background-color: #44b759;
			}

			&--error {
				background-color: #ff5b5b;
			}

			svg {
				margin-right: 10px;
			}

			[dir="rtl"] & svg {
				margin-left: 10px;
				margin-right: 0;
			}
		}
	}
}

.review-ground {
	color: #313131;
	font-weight: 500;
	font-size: 12px;

	&__body {
		margin-top: 10px;
		border-top: 1px solid #01bab4;
		padding: 15px 10px 10px;
	}

	&__img {
		max-height: 50px;
		max-width: 50px;
	}

	&__view {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 15px;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 15px;
		}
	}

	&__icon {
		fill: #5db9ce;
		height: 14px;
		width: 14px;
		min-height: 14px;
		min-width: 14px;
		margin-right: 10px;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 10px;
		}
	}

	&__item {
		margin-bottom: 14px;
		display: flex;
		font-size: 12px;
		color: #313131;

		@include media(ms, max) {
			margin-bottom: 8px;
		}

		@include media(xs, max) {

			.gcell:last-of-type > & {
				margin-bottom: 0;
			}
		}

	}

	&__subtext {
		color: #707070;
		padding-left: 3px;

		[dir="rtl"] & {
			padding-left: 0;
			padding-right: 3px;
		}
	}
}

.review-car {
	display: flex;
	color: #313131;
	padding: 10px 0;
	position: relative;
	margin: 15px 0 35px;
	transition: 0.15s linear;
	border-radius: 5px;

	@include media(sm, max) {
		flex-direction: column;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	&::after {
		display: block;
		content: '';
		width: 100%;
		height: 1px;
		position: absolute;
		right: 0;
		left: 0;
		top: -18px;
		border-top: 1px dashed #b8b8b8;

		[dir="rtl"] & {
			right: auto;
			left: 0;
		}
	}

	&__view {
		width: 29%;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		@include media(sm, max) {
			justify-content: center;
			width: 100%;
			margin-bottom: 20px;
		}
	}

	&__info {
		width: 71%;
		padding-left: 10px;

		@include media(sm, max) {
			width: 100%;
		}

		[dir="rtl"] & {
			padding-right: 10px;
			padding-left: 0;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		margin-bottom: 20px;
		line-height: 1.3;

		@include media(sm, max) {
			text-align: center;
			margin-bottom: 10px;
		}

		@include media(md) {
			margin-bottom: 20px;
		}
	}


	.rating {
		display: flex;
		align-items: center;
		@include media(ms, max) {
			margin-top: 10px;
			justify-content: center;
		}

		&__mark {
			font-size: 10px;
			text-transform: uppercase;
			font-weight: 900;
			color: #707070;
		}
	}

}

.summary {
	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 18px;
		font-size: 18px;
		font-weight: 700;
		color: #313131;
		letter-spacing: 0.025em;

		@include media(sm) {
			font-size: 21px;
		}

		@include media(def, max) {
			justify-content: center;
		}
	}

	&__title-svg {
		margin-right: 20px;
		height: 45px;
		width: 45px;
		background: #ffffff;
		box-shadow: 0 5px 15px 0 rgba(62, 62, 62, 0.2);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 20px;
		}

		svg {
			height: 30px;
			width: 30px;
			min-height: 30px;
			min-width: 30px;
			fill: map_get($colors, main);
		}

		&--sm {
			svg {
				height: 25px;
				width: 25px;
				min-height: 25px;
				min-width: 25px;
			}
		}
	}
}


.sm-contacts {

	@include media(def) {
		margin-right: 10px;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 10px;
		}
	}

	&__group {
		background: #ffffff;
		border-radius: 8px;
		box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
		margin-bottom: 30px;
		padding: 16px 30px 20px;

		@include media(sm, max) {
			max-width: 100%;
		}

		@include media(def, max) {
			margin: 0 auto 35px;
			padding: 18px 24px;
		}

		&--mb {
			margin-bottom: 30px;
			padding-bottom: 30px;
		}
	}

	&__title {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 600;
		color: #313131;
		line-height: 20px;
		letter-spacing: 0.01em;

		&:last-child {
			margin-bottom: 0;
		}

		&--md {
			font-size: 15px;
		}

		&--sm {
			font-size: 14px;
		}

		&--bold {
			font-weight: 700;
		}

		&--rose {
			color: #df2d69;
		}
	}

	&__text {
		color: #9c9c9c;
		font-size: 12px;
		font-weight: 600;
		line-height: 18px;
		letter-spacing: 0.01em;

		@include media(lg) {
			display: flex;
			flex-direction: column;
		}
	}

	&__head,
	&__body {
		@include media(sm) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&__body {
		@include media(def) {
			padding-right: 37px;

			[dir="rtl"] & {
				padding-right: 10px;
				padding-left: 37px;
			}
		}
	}

	&__head {
		border-bottom: 1px solid map_get($colors, main);
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	&__checkbox {
		margin-bottom: 27px;
		color: #6f6f6f;
		font-size: 12px;
		letter-spacing: 0.01em;


		[dir="rtl"] & {
			margin-bottom: 27px;
		}

		span {
			[dir="rtl"] & {
				text-align: center;
			}

			&::before {
				border-color: #9ed3c8;
			}
		}

		input {
			&:checked {
				& ~ span {
					color: #6f6f6f;
				}
			}
		}
	}

	&__link {
		color: #72c3d6;
		text-decoration: none;
		transition: 0.15s ease-in-out;

		&:hover {
			color: map-get($colors, secondary);
		}
	}

	&__btn {
		padding: 14px;
		min-width: 240px;
		pointer-events: none;
		background-color: #7cd9d6;

		@include media(md) {
			min-width: 43%;
		}

		.agreed & {
			background-color: map-get($colors, main);
			pointer-events: auto;
		}
	}
}

.review-toggle {
	position: fixed;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	padding: 15px;
	text-transform: uppercase;
	background-color: #fff;
	color: #433838;
	cursor: pointer;
	font-size: 12px;
	border: none;
	box-shadow: 0 3px 10px 0 rgba(47, 47, 47, 0.15);
	border-radius: 8px;
	transition: .3s ease-out all;

	&--success {
		&:hover {
			color: #fff;
			background-color: #ff5b5b;
		}
	}

	&--error {
		&:hover {
			color: #fff;
			background-color: #44b759;
		}
	}
}
