.summary {
	background: #f8f8f8;
	padding-top: 40px;

	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 18px;
		font-size: 18px;
		font-weight: 700;
		color: #313131;
		letter-spacing: 0.025em;

		@include media(sm) {
			font-size: 21px;
		}

		@include media(def, max) {
			justify-content: center;
		}
	}

	&__title-svg {
		margin-right: 20px;
		height: 45px;
		width: 45px;
		background: #ffffff;
		box-shadow: 0 5px 15px 0 rgba(62, 62, 62, 0.2);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 20px;
		}

		svg {
			height: 30px;
			width: 30px;
			min-height: 30px;
			min-width: 30px;
			fill: map_get($colors, main);
		}

		&--sm {
			svg {
				height: 25px;
				width: 25px;
				min-height: 25px;
				min-width: 25px;
			}
		}
	}
}

.summary-dropdown {
	letter-spacing: 0.01em;

	&__icon {
		width: 20px;
		display: inline-block;
	}

	&__btn {
		color: #313131;
		font-size: 16px;
		display: inline-flex;
		align-items: center;
		padding-right: 20px;
		cursor: pointer;
		margin-bottom: 14px;

		.open > & {
			color: map_get($colors, main);
		}

		[dir="rtl"] & {
			padding-right: 0;
			padding-left: 20px;
		}

		span,
		svg {
			transition: 0.15s ease-in-out;
		}

		svg {
			height: 8px;
			width: 8px;
			min-height: 8px;
			min-width: 8px;
			fill: map_get($colors, main);

			.open > & {
				transform: scale(1, -1);
				fill: #000000;
			}
		}

		&:hover {
			color: map_get($colors, main);
		}
	}

	&__content {
		display: none;
		padding: 8px 17px 26px 20px;
		color: #8d8d8d;
		font-size: 14px;
		line-height: 1.2;

		[dir="rtl"] & {
			padding: 8px 20px 26px 17px;
		}

		@include media(def) {
			font-size: 15px;
			line-height: 20px;
		}

		.open > & {
			display: block;
		}
	}

}

// SUMMARY TOP SECTION STYLES (SUMMARY-BOOKING)

.summary-booking {
	margin-bottom: 60px;

	@include media(def) {
		margin-right: 10px;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 10px;
		}
	}

	@include media(md, max) {
		margin-bottom: 30px;
	}

	&__info {
		padding: 10px 15px;
		background: #fbfbfb;
		border-radius: 3px;

		@include media(sm) {
			padding: 23px 20px 30px;
		}
	}
}

.summary-top {
	&__head {
		display: flex;
		justify-content: space-between;
		font-size: 12px;
		margin-bottom: 18px;

		@include media(xs, max) {
			font-size: 12px;
		}
	}

	&__left {
		font-size: 14px;
		font-weight: bold;
		color: #df2d69;
		text-transform: uppercase;
		display: flex;
		align-items: center;

		@include media(xs, max) {
			font-size: 12px;
		}

		svg {
			height: 30px;
			width: 30px;
			min-height: 30px;
			min-width: 30px;
			fill: map_get($colors, main);
			margin-right: 5px;

			@include media(sm) {
				margin-right: 15px;
			}

			@include media(ms) {
				height: 37px;
				width: 37px;
				min-height: 37px;
				min-width: 37px;
				margin-right: 10px;
			}

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 10px;
				transform: scale(-1, 1);

				@include media(sm) {
					margin-left: 15px;
				}
			}
		}

		.icon-lg {
			transform: scale(1.2);
			position: relative;
			top: -10px;
		}
	}

	&__right {
		display: flex;
		align-items: center;

		a {
			text-decoration: none;
			font-size: 14px;
			font-weight: bold;
			color: map_get($colors, main);
			text-transform: uppercase;
			display: flex;
			align-items: center;
			@include media(xs, max) {
				font-size: 12px;
			}

			&:hover {
				color: map-get($colors, secondary);

				svg {
					transform: rotate(180deg);
					fill: map-get($colors, secondary);

					[dir="rtl"] & {
						transform: rotate(-180deg);
					}
				}
			}
		}

		svg {
			transition: 0.15s linear;
			height: 18px;
			width: 18px;
			min-height: 18px;
			min-width: 18px;
			fill: map_get($colors, main);
			margin-right: 5px;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}
}

.flight-icon {
	transform: rotate(75deg);
	height: 15px;
	width: 15px;
	fill: #5db9ce;

	[dir="rtl"] & {
		transform: rotate(300deg);
	}
}

.flight {
	letter-spacing: 0.01em;

	&--mb {
		margin-bottom: 33px;
	}

	&__name {
		font-size: 15px;
		font-weight: 700;
		margin-bottom: 12px;

		@include media(sm) {
			font-size: 16px;
		}

		svg {
			margin: 0 13px;
		}
	}

	&__title {
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 0.025em;
		color: #313131;
		text-transform: uppercase;

		@include media(sm) {
			font-size: 14px;
		}
	}

	&__subtitle {
		color: #858585;
		font-size: 13px;
		font-weight: 600;

		@include media(sm) {
			font-size: 15px;
		}
	}

	&__text {
		color: #9c9c9c;
		font-size: 12px;

		&--dark {
			color: #313131;
		}
	}

	&__table {
		border: 1px solid #72c3d6;
		display: flex;
		box-shadow: 0 5px 15px 0 rgba(62, 62, 62, 0.2);
		background: #fff;
		flex-wrap: wrap;
	}

	&__column {
		padding: 10px;
		display: flex;
		flex-direction: column;

		@include media(sm) {
			justify-content: center;
		}

		@include media(ms) {
			padding: 17px 20px;
		}
	}

	&-departure,
	&-arrival {
		padding: 10px;
		width: 50%;
		border-right: 1px solid #72c3d6;

		@include media(sm) {
			width: 30%;
		}

		@include media(ms) {
			padding: 17px 20px;
			width: 33%;
		}

		@include media(lg) {
			padding: 17px 40px;
		}

		[dir="rtl"] & {
			border-right: none;
			border-left: 1px solid #72c3d6;
		}

		span {
			margin-bottom: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&-arrival {
		@include media(sm, max) {
			border-right: none;

			[dir="rtl"] & {
				border-left: none;
			}
		}
	}

	&-time {
		padding: 10px 5px;
		width: 50%;
		color: #313131;
		align-items: center;
		border-right: 1px solid #72c3d6;
		@include media(sm, max) {
			order: 2;
			border-top: 1px solid #72c3d6;
		}

		@include media(sm) {
			width: 15%;
		}

		@include media(ms) {
			padding: 17px 5px;
			width: 12%;
		}

		[dir="rtl"] & {
			border-right: none;
			border-left: 1px solid #72c3d6;
		}

		svg {
			height: 30px;
			width: 30px;
			min-height: 30px;
			min-width: 30px;
			fill: #b2b2b2;
			margin-bottom: 10px;
		}
	}

	&-info {
		width: 50%;
		@include media(sm, max) {
			border-top: 1px solid #72c3d6;
			order: 3;
		}

		@include media(sm) {
			width: 25%;
		}

		@include media(ms) {
			width: 22%;
		}

		&__item {
			height: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 5px 10px;
			line-height: 1.2;

			@include media(ms) {
				padding: 8px 20px;
			}

			&:first-of-type {
				border-bottom: 1px solid #72c3d6;
			}
		}
	}
}

.baggage {
	&__btn {
		color: #9c9c9c;
		font-size: 12px;
		text-transform: uppercase;
		display: inline-flex;
		align-items: center;
		padding-right: 20px;
		cursor: pointer;

		[dir="rtl"] & {
			padding-right: 0;
			padding-left: 20px;
		}

		span {
			padding: 0 10px;
			transition: 0.15s ease-in-out;
		}

		svg {
			height: 20px;
			width: 20px;
			min-height: 20px;
			min-width: 20px;
			fill: map_get($colors, main);
			transition: 0.15s ease-in-out;

			&.baggage-suitcase {
				position: relative;
				top: -2px;
			}

			&.baggage-arrow {
				height: 8px;
				width: 8px;
				min-height: 8px;
				min-width: 8px;
				fill: #000000;

				.open > & {
					transform: scale(1, -1);
				}
			}
		}

		&:hover {
			color: map_get($colors, main);

			.baggage-arrow {
				fill: map_get($colors, main);
			}
		}
	}

	&__content {
		display: none;
		padding: 8px 0;

		.open > & {
			display: block;
		}
	}

	&__text {
		color: #8d8d8d;
		font-size: 12px;
		margin-bottom: 14px;
		line-height: 1.2;

		@include media(sm) {
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__table {
		border: 1px solid #72c3d6;
		box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
		background: #fff;

		.gcell {
			@include media(sm) {
				order: 5;
			}
		}
	}

	&__cell {
		height: 100%;
		padding: 5px 8px;
		font-size: 12px;
		display: flex;
		align-items: center;
		color: #858585;
		line-height: 1.2;
		border-right: 1px solid #72c3d6;
		min-height: 45px;

		@include media(sm, max) {
			border-bottom: 1px solid #72c3d6;
		}

		@include media(sm) {
			text-align: center;
			justify-content: center;
			font-size: 13px;
			line-height: 1.4;
		}

		[dir="rtl"] & {
			border-right: none;
			border-left: 1px solid #72c3d6;
		}

		.gcell:nth-child(n + 7) > & {
			@include media(sm, max) {
				border-bottom: none;
			}
			@include media(sm) {
				border-right: none;

				[dir="rtl"] & {
					border-left: none;
				}
			}
		}

		.gcell:nth-child(2n) > & {
			@include media(sm, max) {
				border-right: none;

				[dir="rtl"] & {
					border-left: none;
				}
			}

			@include media(sm) {
				border-top: 1px solid #72c3d6;
			}
		}

		&--title {
			color: #313131;
			font-size: 12px;
			font-weight: 700;
		}
	}
}

.order {
	@include media(sm) {
		&-0 {
			order: 0 !important;
		}

		&-1 {
			order: 1 !important;
		}

		&-2 {
			order: 2 !important;
		}

		&-3 {
			order: 3 !important;
		}
	}
}
