@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;

}

@font-face {
	font-family: 'Lato';
	src: url('../../assets/fonts/Lato-Heavy.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
