//*********************************
//right aside with products filter
//*********************************

.loc-filter {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.2;
	position: relative;
	color: #313131;
	background-color: #ffffff;
	z-index: 0;
	width: 21%;

	@include media(def, max) {
		position: absolute;
		top: 0;
		left: -300px;
		width: 320px;
		height: 100%;


		[dir="rtl"] & {
			left: auto;
			right: -300px;
		}
	}

	@include media(xs, max) {
		width: 260px;
		left: -260px;

		[dir="rtl"] & {
			left: auto;
			right: -260px;
		}
	}

	@include media(xl) {
		width: 300px;
	}

	&.open {
		left: 0;
		background-color: rgba(250, 250, 250, 0.8);

		@include media(def) {
			margin-right: calc(21% * 2.4);

			[dir="rtl"] & {
				margin-left: calc(21% * 2.4);
				margin-right: 0;
			}

		}

		@include media(xl) {
			margin-right: 720px;

			[dir="rtl"] & {
				margin-left: 720px;
				margin-right: 0;
			}
		}

		[dir="rtl"] & {
			left: auto;
			right: 0;
		}
	}

	&__wrap {
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;

		[dir="rtl"] & {
			right: auto;
			left:  0;
		}
	}


	&__left {
		width: 100%;
		padding: 15px;
		background-color: #ffffff;
		z-index: 2;

		@include media(def, max) {
			z-index: 0;
			position: relative;

			&::after {
				position: absolute;
				content: '';
				width: 100%;
				height: 1px;
				left: 0;
				top: calc(100% - 10px);
				display: block;
				box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.25);
			}

		}

		@include media(lg) {
			padding: 25px 35px;
		}
	}

	&__right {
		z-index: 1;
		background-color: transparent;
		height: 100%;
		padding: 20px 15px;

		.open & {
			background-color: rgba(250, 250, 250, 0.8);
		}

		@include media(xs) {
			padding: 20px 20px 20px 18px;

			[dir="rtl"] & {
				padding: 20px 18px 20px 20px;
			}

		}

		@include media(def) {
			.open  & {
				left: 100%;

				[dir="rtl"] & {
					left: auto;
					right: 100%;
				}
			}
		}


		@include media(def) {
			position: absolute;
			padding: 35px 30px 25px 12px;
			width: 240%;
			left: -240%;


			[dir="rtl"] & {
				left: auto;
				right: -240%;
				padding: 35px 12px 25px 30px;
			}
		}


	}

	&__right-wrap {
		overflow-y: hidden;
		height: 100%;

		.open & {
			overflow-y: auto;
			padding: 0 5px 0 0;

			[dir="rtl"] & {
				padding: 0 0 0 5px;
			}

			@include media(xs) {
				padding: 0 13px 0 0;

				[dir="rtl"] & {
					padding: 0 0 0 13px;
				}
			}


		}

		[dir="rtl"] & {
			padding: 0 13px 0 0;
		}

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
			border-radius: 10px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar {
			width: 7px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
			background-color: #c2c2c2;
		}
	}

	&__title {
		padding: 15px 0;
		text-align: center;

		@include media(sm) {
			padding-top: 25px;
		}

		@include media(def) {
			text-align: left;
			padding: 37px 0 43px;


			[dir="rtl"] & {
				text-align: right;
			}
		}
	}

}


.lf-time {
	display: flex;
	flex-wrap: wrap;

	.radio {
		margin-right: 20px;

		@include media(sm, max) {
			margin-bottom: 14px;
			width: auto;
		}

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 20px;
		}

		&__input {
			& + span {
				color: #959595;
			}

			&:checked {
				& + span {
					color: #5db9ce;
				}
			}
		}
	}
}

.lf-price {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 10px;


	@include media(def) {
		margin: 40px 0 58px;
	}

	&__title {
		margin-bottom: 24px;
	}
}

.lf-slider {
	height: 3px;
	background: #01bab4;
	width: 92%;
	position: relative;

	&__btn {
		position: absolute;
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
		border: 1px solid #01bab4;
		width: 23px;
		height: 23px;
		top: -10px;
		cursor: grab;

		> span {
			position: absolute;
			top: 100%;
			left: 50%;
			margin-top: 5px;
			transform: translateX(-50%);
			opacity: 0;
			transition: .3s ease-out all;
		}

		&:hover {
		  > span {
			  opacity: 1;
		  }
		}

		&::before {
			display: block;
			content: '';
			position: absolute;
			width: 17px;
			height: 17px;
			box-shadow: inset 0 1px 5px 0 rgba(0, 0, 1, 0.35);
			border-radius: 50%;
			background-color: white;
			top: 2px;
			left: 2px;
		}

		&::after {
			border: 1px solid white;
			width: 19px;
			height: 19px;
			display: block;
			content: '';
			position: absolute;
			top: 1px;
			left: 1px;
			border-radius: 50%;
		}

		&--start {
			left: 0;
		}

		&--end {
			right: 0;
		}
	}
}

.lf-checkboxes {
	color: #6f6f6f;
	font-size: 15px;
	letter-spacing: 0.01em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&--row {
		@include media(def, max) {
			flex-direction: row;
			flex-wrap: wrap;

			.form-check {
				margin-right: 10px;

				[dir="rtl"] & {
					margin-right: 0;
					margin-left: 10px;
				}
			}
		}
	}

	&--comfort {
		@include media(def) {
			margin-bottom: 30px;
		}
	}

	svg {
		fill: #df2d69;
		margin-right: 2px;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 2px;
		}
	}

	.form-check {
		margin-bottom: 11px;
		@include media(def, max) {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	span {
		color: #9c9c9c;
		font-weight: 600;
		font-size: 14px;

		@include media(def) {
			font-size: 15px;
		}

		[dir="rtl"] & {
			text-align: center;
		}

		&::before {
			border-color: #9ed3c8;
		}
	}

	input {
		&:checked {
			& + span {
				color: #5db9ce;
			}
		}
	}
}

.sidebar-block {
	pointer-events: none;

	&__title {
		position: relative;
		cursor: pointer;
		pointer-events: all;

		&:before {
		  content: '';
			position: absolute;
			top: 50%;
			right: 10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 4px 6px 4px;
			border-color: transparent transparent #313131 transparent;
			transform: translateY(-50%);
			transition: .3s ease-out transform;
		}
	}

	&.collapsed &__title {
		&:before {
		  transform: translateY(-50%) scale(1, -1);
		}
	}

	&__content {
		pointer-events: none;

		* {
			pointer-events: all;
		}
	}

	&.collapsed &__content {
		display: none;
	}
}
