.package {
	border: 1px solid #f0f0f0;
	background: #ffffff;
	margin-bottom: 30px;

	&__body {
		padding: 30px 5px 42px;
		display: flex;
		flex-wrap: wrap;

		@include media(ms) {
			padding: 11px 5px 42px;
		}

		.package--flight & {
			padding: 0;
		}
	}

	&__left {
		width: 100%;
		padding-right: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include media(ms) {
			width: 30%;

			.package--ground & {
				width: 35%;
			}
		}

		@include media(md) {

			.package--ground & {
				width: 32%;
			}

			.package--flight & {
				padding-top: 14px;
			}
		}
	}

	&__right {
		width: 100%;
		@include media(ms) {
			width: 70%;

			.package--ground & {
				width: 65%;
			}
		}

		@include media(md) {
			.package--ground & {
				width: 68%;
			}
		}
	}

	&__list {
		margin-top: 15px;

		@include media(ms) {
			margin-top: 30px;
		}

		.package--flight & {
			padding-left: 0;

			[dir="rtl"] & {
				padding-right: 0;
			}

			@include media(ms) {
				margin-top: 16px;
			}
		}
	}

	&__list-icon {
		fill: #5db9ce;

		.package--ground & {
			margin-right: 5px;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 5px;
			}
		}
	}

	&__list-item {
		padding: 2px 30px;
		text-align: center;
		margin-bottom: 7px;

		@include media(ms) {
			padding: 2px 0 2px 52px;
			text-align: left;

			[dir="rtl"] & {
				text-align: right;
				padding: 2px 52px 2px 0;
			}
		}

		.package--ground & {
			padding: 2px 0;
			display: flex;
			font-size: 12px;
			color: #313131;
			margin-bottom: 8px;

			@include media(ms) {
				padding: 2px 0;
			}
		}

		.package--flight & {
			padding: 2px 19px;
			display: flex;
			font-size: 12px;
			color: #313131;
			font-weight: 500;
			margin-bottom: 0;

			@include media(ms) {
				padding: 2px 19px;
			}
		}

		&:nth-child(odd) {
			background: linear-gradient(to right, rgba(254, 254, 254, 1) 0%, rgba(246, 246, 246, 1) 30%, rgba(254, 254, 254, 1) 100%);

			[dir="rtl"] & {
				background: linear-gradient(to left, rgba(254, 254, 254, 1) 0%, rgba(246, 246, 246, 1) 30%, rgba(254, 254, 254, 1) 100%);
			}

			.package--flight & {
				background: linear-gradient(to right, #e3faff 0%, #e3faff 60%, rgba(#e3faff, 0) 100%);

				[dir="rtl"] & {
					background: linear-gradient(to left, #e3faff 0%, #e3faff 60%, rgba(#e3faff, 0) 100%);
				}
			}
		}
	}

	&__name {
		color: map-get($colors, main);
		font-weight: bold;
		text-transform: uppercase;
		font-size: 14px;
		text-align: center;

		@include media(ms) {
			margin-left: 50px;
			text-align: left;

			.package--ground & {
				margin-left: 38px;
			}

			.package--flight & {
				margin-left: 0;
				[dir="rtl"] & {
					margin-right: 0;
				}
			}

			[dir="rtl"] & {
				text-align: right;
				margin-left: 0;
				margin-right: 50px;

				.package--ground & {
					margin-left: 0;
					margin-right: 38px;
				}
			}
		}

		.package--flight & {
			font-weight: 500;
			color: #707070;
			font-size: 15px;
			display: flex;
			align-items: center;
			line-height: 1.2;
			max-width: 150px;
			@include media(ms, max) {
				max-width: 100%;
				justify-content: center;
				margin-bottom: 10px;
			}

			svg {
				fill: map-get($colors, main);
				height: 28px;
				width: 28px;
				min-height: 28px;
				min-width: 28px;
				margin-right: 5px;

				[dir="rtl"] & {
					margin-right: 0;
					margin-left: 5px;
				}
			}
		}

	}
}

.package-types {
	$item: &;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;

	@include media(sm, max) {
		flex-direction: column;
	}

	@include media(def) {
		justify-content: flex-start;
	}

	&__head {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		min-height: 62px;
		background-size: cover;
		background-position-x: center;
		background-repeat: no-repeat;
		padding: 19px 15px 0;

		.package--flight & {
			min-height: auto;
			padding: 5px;
			color: #ffffff;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
		}

		#{$item}__block--lg & {
			min-height: 70px;
		}

		@include media(ms, max) {
			min-height: 85px;
			background-position-y: 80%;
			display: flex;
			align-items: center;

			.package--flight & {
				justify-content: center;
			}

			#{$item}__block--lg & {
				min-height: 85px;
			}
		}

		@include media(md) {
			padding: 19px 33px 0;

			#{$item}__block--lg & {
				padding: 22px 25px 0;
			}
		}
	}

	&__body {
		flex-grow: 1;
		padding: 18px 0 0;

		#{$item}__block--lg & {
			padding: 29px 0 23px;
		}

		.package--flight & {
			padding: 0;
			outline: 2px solid transparent;
			border-top: none;
		}

	}

	&__item {
		font-size: 12px;
		font-weight: 500;
		color: #313131;
		padding: 2px 15px;
		margin-bottom: 8px;
		display: flex;
		align-items: center;

		.package--ground & {
			margin-bottom: 12px;

			&:last-of-type {
				margin-bottom: 0;
			}

			@include media(ms, max) {
				align-items: flex-start;
			}
		}

		@include media(md) {
			padding: 2px 15px 2px 37px;

			[dir="rtl"] & {
				padding: 2px 37px 2px 15px;
			}
		}

		&:nth-child(odd) {
			background-color: #fafafa;

			.package--flight & {
				background-color: #ffffff;
			}
		}

		&:nth-child(even) {
			.package--flight & {
				background-color: #e3faff;
			}
		}

		.package--flight & {
			padding: 3px 10px;
			margin-bottom: 2px;
			&:last-of-type {
				margin-bottom: 0;
			}

			@include media(md) {
				padding: 3px 15px;

				[dir="rtl"] & {
					padding: 3px 15px;
				}
			}
		}

		svg {
			height: 12px;
			width: 16px;
			min-height: 12px;
			min-width: 16px;
			margin-right: 5px;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 5px;
			}

			&.car-icon {
				height: 16px;
				width: 16px;
				min-height: 16px;
				min-width: 16px;
				position: relative;
				top: -2px;

				[dir="rtl"] & {
					transform: scaleX(-1);
				}
			}
		}

		&--success {
			svg {
				fill: #86ce5a;

				.package-types__block--flight-light & {
					fill: #72c3d6;
				}

				.package-types__block--flight-green & {
					fill: #abce5a;
				}

				.package-types__block--flight-blue & {
					fill: #01bab4;
				}
			}
		}

		&--error {
			svg {
				fill: #df2d69;
			}
		}

		&--star {
			svg {
				fill: #fbaf5d;
			}
		}

		&--default {
			color: #909090;

			svg {
				fill: #cccccc;

				.package--flight & {
					fill: #909090;
				}

			}
		}
	}

	&__foot {
		min-height: 30px;
		background-size: cover;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		background: url(/Media/assets/images/transportation/package-footer.png) bottom center no-repeat;
		padding: 0 26px;
		background-size: cover;

		.package--ground & {
			min-height: 43px;
			background-position-y: 16px;
		}

		#{$item}__block--lg & {
			min-height: 47px;
			background-image: url(/Media/assets/images/transportation/package-footer-lg.png);

			.package--ground & {
				background-position-y: 0;
			}
		}

	}

	&__desc-info {
		display: flex;
	}

	&__desc {
		padding-right: 5px;
		width: 50%;

		[dir="rtl"] & {
			padding-right: 0;
			padding-left: 5px;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		border-radius: 8px;
		background-color: #ffffff;
		box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
		width: 33%;

		.package--flight & {
			box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			cursor: pointer;
			width: 32%;
			margin-right: 2%;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 2%;
			}

			@include media(xs, max) {
				width: 100%;
				max-width: 100%;
			}

			@include media(sm, max) {
				width: 80%;
				max-width: 80%;
			}

			@include media(ms, max) {
				width: 60%;
				max-width: 60%;
				margin-bottom: 10px;
				margin-right: 0;

				[dir="rtl"] & {
					margin-left: 0;
				}
			}

			@include media(md) {
				width: 30%;
				margin-right: 5%;

				[dir="rtl"] & {
					margin-right: 0;
					margin-left: 5%;
				}
			}

			&:last-of-type {
				margin-right: 0 !important;

				[dir="rtl"] & {
					margin-left: 0 !important;
				}
			}

		}

		@include media(xs, max) {
			width: 270px;
			max-width: 270px;
		}

		@include media(sm, max) {
			width: 80%;
			max-width: 80%;
		}

		@include media(ms, max) {
			width: 60%;
			max-width: 60%;
			margin-bottom: 40px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		@include media(ms) {
			max-width: 165px;
		}

		&--lg {
			z-index: 1;
		}

		&--light {
			position: relative;
			right: -4px;

			[dir="rtl"] & {
				right: 0;
				left: -4px;
			}

			#{$item} {
				&__head {
					background-image: url(/Media/assets/images/transportation/light-head.png);
				}

				&__btn {
					color: #72c3d6;

					&:hover,
					&.active {
						background-color: #72c3d6;
						color: #ffffff;
					}
				}
			}
		}

		&--green {
			#{$item} {
				&__head {
					background-image: url(/Media/assets/images/transportation/green-head.png);
					position: relative;

					&::after {
						position: absolute;
						display: block;
						content: '';
						bottom: -10px;
						height: 2px;
						width: 30%;
						right: 0;
						left: 0;
						margin: 0 auto;
						background-color: #abce5a;
					}
				}

				&__btn {
					color: #bbd87a;

					&:hover,
					&.active {
						background-color: #bbd87a;
						color: #ffffff;
					}
				}
			}
		}

		&--blue {
			position: relative;
			left: -4px;

			[dir="rtl"] & {
				left: 0;
				right: -4px;
			}

			#{$item} {
				&__head {
					background-image: url(/Media/assets/images/transportation/blue-head.png);
				}

				&__btn {
					color: #01bab4;

					&:hover,
					&.active {
						background-color: #01bab4;
						color: #ffffff;
					}
				}
			}
		}

		&--flight-light {
			#{$item} {
				&__head,
				&__label {
					background-color: #72c3d6;
				}

				&__check {
					background: #f1f9fb;
				}
			}

			&.active {
				#{$item}__body {
					border: 2px solid #72c3d6;
				}

				#{$item}__check-icon {
					&::after {
						background-color: #72c3d6;
					}
				}
			}

		}

		&--flight-green {
			#{$item} {
				&__label,
				&__head {
					background-color: #abce5a;
				}

				&__check {
					background: #f6faee;
				}
			}

			&.active {
				#{$item}__body {
					position: relative;
					&::after {
						content: '';
						display: block;
						top: 0;
						right: 0;
						left: 0;
						bottom: 0;
						background: transparent;
						box-sizing: border-box;
						position: absolute;
						border: 2px solid #abce5a;
						border-top: none;
					}
				}

				#{$item}__check-icon {
					&::after {
						background-color: #abce5a;
					}
				}
			}
		}

		&--flight-blue {
			#{$item} {
				&__label,
				&__head {
					background-color: #01bab4;
				}

				&__check {
					background: #e5f8f7;
				}
			}

			&.active {
				#{$item}__body {
					border: 2px solid #01bab4;
				}

				#{$item}__check-icon {
					&::after {
						background-color: #01bab4;
					}
				}
			}

		}
	}

	&__check {
		position: relative;
		display: flex;
		align-items: center;
		padding: 8px 10px;
		margin-bottom: 11px;
		@include media(ms, max) {
			justify-content: center;
		}
		@include media(md) {
			padding: 8px 17px;
		}
	}

	&__check-icon {
		height: 12px;
		width: 12px;
		min-height: 12px;
		border: 1px solid rgb(112, 112, 112);
		border-radius: 50%;
		min-width: 12px;
		margin-right: 5px;
		padding: 2px;
		background: #ffffff;
		position: relative;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 5px;
		}

		@include media(md) {
			margin-right: 10px;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 10px;
			}
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 1px;
			bottom: 1px;
			left: 1px;
			right: 1px;
			border-radius: 60%;
			background: transparent;
		}
	}

	&__label {
		display: inline-block;
		font-size: 9.25px;
		color: #fff;
		padding: 2px 8px;
		border-radius: 7px;
		line-height: 1;
		position: absolute;
		bottom: -7px;
		width: 75px;
		margin: 0 auto;
		left: 0;
		right: 0;
	}

	&__title {
		text-align: center;
		background-color: #ffffff;
		border-radius: 8px;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
		width: 100%;
		padding: 13px 0;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;

		#{$item}__block--lg & {
			padding: 16px 0;
		}
	}

	&__btn {
		text-align: center;
		background-color: #ffffff;
		border-radius: 8px;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
		width: 100%;
		padding: 13px 5px;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		border: none;
		position: relative;
		top: 20px;
		cursor: pointer;
		transition: 0.15s linear;

		&.active {
			cursor: default;
		}
	}
}