.sm-contacts {

	@include media(def) {
		margin-right: 10px;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 10px;
		}
	}
}

.sm-payment {
	padding-bottom: 20px;
		@include media(sm) {
			margin: 0 -24px;
		}

	&__left {
		@include media(lg) {
			margin-right: 8%;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 8%;
			}
		}
	}

	&__right {
		padding-top: 33px;
		text-align: center;
		height: 100%;
		display: flex;
		flex-direction: column;

		@include media(md, max) {
			max-width: 380px;
			margin: 0 auto;
		}

		@include media(lg) {
			margin-right: 11%;
			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 11%;
			}
		}
	}

	&__card {
		min-height: 220px;
		background-color: #dbfbfa;
		background-image: url(/Media/assets/images/payment/card-bg.png);
		border-radius: 8px;
		position: relative;
		padding: 20px 15px;
		background-repeat: no-repeat;
		background-position-x: 100%;
		max-width: 380px;
		margin: 0 auto;

		@include media(sm) {
			padding: 24px;
		}

		&:before {
			position: absolute;
			content: '';
			display: block;
			top: 13px;
			right: 24px;
			height: 18px;
			width: 57px;
			background: url(/Media/assets/images/payment/card-img.png);
			background-size: contain;

			[dir="rtl"] & {
				right: auto;
				left: 24px;
			}
		}

		.form-group {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;



			&__input {
				font-size: 14px;
			}

			&__label {
				padding-left: 13px;
				font-size: 11px;

				[dir="rtl"] & {
					padding-left: 0;
					padding-right: 13px;
					justify-content: flex-start;
				}
			}
		}
	}

	&__holder {
		margin: 17px 6% 0;

		.form-group {
			&__label {
				padding-left: 13px;
				font-size: 11px;

				[dir="rtl"] & {
					padding-left: 0;
					padding-right: 13px;
				}
			}
		}
	}

	&__images {
		display: flex;
		align-items: center;
	}

	&__img {
		width: 23%;
		text-align: center;
		margin-right: 1%;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 1%;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__icon {
		margin: 30px 0 17px;

		svg {
			height: 43px;
			width: 43px;
			min-height: 43px;
			min-width: 43px;
			fill: map-get($colors, main);
		}
	}

	&__validate {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.button {
			padding: 14px;
			margin-top: 20px;

			@include media(md, max) {
				width: auto;
				margin: 20px auto 0;
				padding: 14px 20px;
				min-width: 240px;
			}
		}
	}
}
