.summary {
	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 18px;
		font-size: 18px;
		font-weight: 700;
		color: #313131;
		letter-spacing: 0.025em;

		@include media(sm) {
			font-size: 21px;
		}

		@include media(def, max) {
			justify-content: center;
		}

		&--center {
			justify-content: center;
		}
	}

	&__title-svg {
		margin-right: 12px;
		height: 45px;
		width: 45px;
		background: #ffffff;
		box-shadow: 0 5px 15px 0 rgba(62, 62, 62, 0.2);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 20px;
		}

		svg {
			height: 30px;
			width: 30px;
			min-height: 30px;
			min-width: 30px;
			fill: map_get($colors, main);
		}

		&--sm {
			svg {
				height: 25px;
				width: 25px;
				min-height: 25px;
				min-width: 25px;
			}
		}
	}
}
