.aside {
	background: #fbfbfb;
	border: 1px solid #e1e1e1;
	max-width: 345px;
	width: 100%;
	z-index: 1;
	position: relative;

	&::before {
		position: absolute;
		width: 90%;
		left: 5%;
		bottom: 0;
		border-radius: 3px;
		box-shadow: 0 5px 15px 0 rgba(62, 62, 62, 0.2);
		height: 40px;
		display: block;
		content: '';
		z-index: -1;
	}

	@include media(sm, max) {
		max-width: 100%;
	}

	@include media(md, max) {
		max-width: 80%;
	}

	@include media(def, max) {
		margin: 0 auto 40px;
		max-width: 50%;

		.review & {
			margin-bottom: 60px;
		}
	}

	@include media(def) {
		top: 15px;
		position: sticky;
		margin-bottom: 40px;
		float: right;

		.review & {
			margin-bottom: 60px;
		}

		[dir="rtl"] & {
			float: left;
		}
	}

	&__title {
		padding: 18px 24px 12px;
		display: flex;
		align-items: center;
		font-size: 21px;
		font-weight: 700;
		color: map_get($colors, main);
		letter-spacing: 0.025em;
		line-height: 1.2;
	}

	&-flight {
		background: #ffffff;
		border: 1px solid rgb(235, 235, 235);
		border-radius: 5px;
		padding: 0 0 20px;
		margin: 20px 0;

		.aside-title {
			background-color: #f8f8f8;
			padding: 14px 15px;
			margin: 0;

			//sass-lint:disable-all
			& ~ * {
				padding-right: 15px;
				padding-left: 15px;
			}
		}

		&__icon {
			transform: rotate(50deg) scale(1.1);

			[dir="rtl"] & {
				transform: rotate(300deg) scale(1.1);
			}
		}

		&__body {
			padding: 0 15px;
		}
	}

	&__flight {
		margin: 0 0 22px;
		padding: 5px 14px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 700;
		color: #313131;
		font-size: 15px;
		background-color: #e7fffe;

		svg {
			height: 30px;
			width: 30px;
			min-height: 30px;
			min-width: 30px;
			fill: map_get($colors, main);

			[dir="rtl"] & {
				transform: scale(-1, 1);
			}
		}
	}

	&__flight-point {
		width: calc(50% - 15px);

		&--end {
			text-align: right;

			[dir="rtl"] & {
				text-align: left;
			}
		}
	}

	&__main {
		padding: 0 9px 7px;
		background: #fbfbfb;
	}

	&__line {
		display: block;
		border-top: 1px dashed #e1e1e1;
		height: 1px;
		margin: 0 auto;
		width: 90%;
	}

	&__text {
		font-size: 12px;
		line-height: 16px;
		color: #9c9c9c;

		&--dark {
			padding-left: 3px;
			color: #313131;


			[dir="rtl"] & {
				padding-left: 0;
				padding-right: 3px;
			}
		}

		&--blue {
			color: map-get($colors, main);
		}
	}

	svg {
		fill: map_get($colors, main);
		&.aside {
			&__text-icon {
				fill: #313131;
				height: 17px;
				width: 17px;
				min-width: 17px;
				min-height: 17px;
				margin-right: 10px;
				position: relative;
				top: 1px;

				[dir="rtl"] & {
					margin-right: 0;
					margin-left: 10px;
				}
			}
		}
	}

	&__tags {
		margin-top: 6px;
	}

	&__tag {
		color: #ffffff;
		background: #72c3d6;
		padding: 6px 12px;
		text-transform: uppercase;
		font-size: 10px;
		text-align: center;
		border-radius: 5px;
		display: inline-block;
		margin: 0 10px 10px 0;

		[dir="rtl"] & {
			margin: 0 0 10px 10px;
		}
	}
}

.flight-icon {
	transform: rotate(75deg);
	height: 15px;
	width: 15px;
	fill: #5db9ce;

	[dir="rtl"] & {
		transform: rotate(300deg);
	}
}

.aside-path {
	display: flex;
	flex-wrap: wrap;
	font-weight: 600;
	color: #313131;
	font-size: 12px;

	@include media(sm) {
		font-size: 14px;
	}

	&__item {
		margin-right: 10px;
		margin-bottom: 10px;

		@include media(xl) {
			margin-right: 15px;
		}

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 10px;

			@include media(xl) {
				margin-left: 15px;
			}
		}

	}

	&__svg {
		margin-right: 10px;
		height: 15px;
		width: 15px;
		min-height: 15px;
		min-width: 15px;
		@include media(xl) {
			margin-right: 15px;
		}

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 10px;

			@include media(xl) {
				margin-left: 15px;
			}
		}
	}
}

.aside-visitors {
	margin: 5px 0 10px;
	font-size: 12px;
	line-height: 16px;
	color: #9c9c9c;

	span {
		color: #313131;
	}
}

.aside-cost {
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
	color: #9c9c9c;
	letter-spacing: 0.01em;
	align-items: flex-end;
	line-height: 18px;

	&__currency {
		color: #313131;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0 4px;
	}

	&__value {
		color: #313131;
		font-weight: 700;
		font-size: 18px;
	}
}

.aside-hotel {
	padding: 20px 15px 0;

	&__item {
		margin-bottom: 20px;
	}

	&--full {
		background: #ffffff;
		border: 1px solid rgb(235, 235, 235);
		border-radius: 5px;
		padding: 0;
		margin: 20px 0;

		.aside-title {
			background-color: #f8f8f8;
			padding: 14px 15px;

			//sass-lint:disable-all
			& ~ * {
				padding-right: 15px;
				padding-left: 15px;
			}
		}
	}

	&__text {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}

	&__left,
	&__right {
		display: flex;
	}

	&__left {
		text-align: left;
		max-width: 70%;

		[dir="rtl"] & {
			text-align: right;
		}
	}

	&__right {
		text-align: right;
		max-width: 30%;

		[dir="rtl"] & {
			text-align: left;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		color: #df2d69;
		font-weight: 700;
		text-transform: uppercase;

		.aside-hotel--full & {
			background-color: #f8f8f8;
			padding: 14px 15px;

			//sass-lint:disable-all
			& ~ * {
				padding-right: 15px;
				padding-left: 15px;
			}
		}
	}

	&__subtitle {
		font-weight: 600;
		color: #707070;
	}

	&__title,
	&__subtitle {
		margin-bottom: 15px;
		font-size: 15px;
		display: flex;
		align-items: center;

		svg {
			height: 20px;
			width: 20px;
			min-height: 20px;
			min-width: 20px;
			margin-right: 15px;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 15px;
			}

			&.icon-lg {
				transform: scale(1.3);
				position: relative;
				top: -5px;
			}
		}
	}
}

.aside-title {
	display: flex;
	align-items: center;
	color: #df2d69;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 7px;
	font-size: 15px;

	svg {
		height: 20px;
		width: 20px;
		min-height: 20px;
		min-width: 20px;
		margin-right: 15px;

		[dir="rtl"] & {
			margin-right: 0;
			margin-left: 15px;
		}

		&.icon-lg {
			transform: scale(1.3);
			position: relative;
			top: -5px;
		}

		&.icon-xl {
			transform: scale(1.4);
			position: relative;
		}
	}
}

.aside-transport,
.aside-visa,
.aside-ground {
	background: #ffffff;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 5px;
	padding: 0 0 10px;
	margin: 20px 0;

	.aside-title {
		background-color: #f8f8f8;
		padding: 14px 15px;

		//sass-lint:disable-all
		& ~ * {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	.aside {
		&__text {
			margin-bottom: 10px;
		}
	}
}

.aside-confirm {
	padding: 12px 14px;
	text-align: center;

	.button {
		padding: 14px 30px;
		max-width: 300px;
	}
}

.aside-code {
	padding: 15px 15px 10px;

	&__form {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	&__btn {
		width: 30%;
		text-align: center;
		padding: 8px;
		height: 30px;
		font-size: 12px;
		font-weight: 600;
		border-radius: 5px;
	}

	&__input {
		font-size: 12px;
		padding: 8px;
		height: 30px;
		width: 67%;
		box-shadow: none;
		border: 1px solid #e1e1e1;
		border-radius: 5px;
	}
}

.aside-total {
	margin-bottom: 15px;
	padding: 0 15px;

	&__price {
		margin-top: 18px;
		font-weight: 700;
		font-size: 12px;
		color: #313131;
		display: flex;
		align-items: flex-end;
		line-height: 20px;
	}

	&__price-item {
		width: 50%;

		&:nth-child(2) {
			text-align: right;
			font-size: 14px;

			[dir="rtl"] & {
				text-align: left;
				display: flex;
				justify-content: flex-end;
			}
		}
	}

	&__value {
		font-size: 20px;
	}

	&__currency {
		padding: 0 4px;
	}

	&__info {
		margin: 15px 0 12px;
		display: flex;
		align-items: center;
		background: #ffffff;
		padding: 9px;

		svg {
			fill: map_get($colors, main);
			height: 21px;
			width: 21px;
			min-height: 21px;
			min-width: 21px;
			margin-right: 15px;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 15px;
			}
		}
	}
}

.aside {
	@media (max-width: 1024px) {
		z-index: 1000;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		max-width: 100% !important;
		padding: 60px 15px 30px;
		overflow-y: auto;
		opacity: 0;
		transform: scale(0);
		transition: .3s ease-out all;

		&.active {
			opacity: 1;
			transform: scale(1);
		}
	}

	&__popup {
		&-icon {
			@media (min-width: 1025px) {
				display: none;
			}

			position: fixed;
			z-index: 1000;
			right: 25px;
			bottom: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			cursor: pointer;
			background-color: #fff;
			transition: .3s ease-out all;

			&:hover {
			  transform: scale(1.2);
			}

			svg {
				fill: #72c3d6;
			}
		}

		&-close {
			position: absolute;
			top: 30px;
			right: 30px;
			cursor: pointer;

			@media (min-width: 1025px) {
				display: none;
			}
		}
	}
}

// Aside Timer
.aside-timer {
	margin: 20px 0;
	border: 1px solid #ebebeb;
	font-family: 'Lato';
	border-radius: 5px;
	background-color: #fff;

	// Aside Timer Header
	&__header {
		display: flex;
		align-items: center;
		padding: 14px 15px;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		color: #df2d69;

		&-text {
			margin-left: 15px;
			margin-right: 15px;
		}

		&-icon {
			flex-shrink: 0;
		}
	}

	// Aside Timer Main Content
	&__main {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 20px 33px;
		letter-spacing: 0.025em;
		color: #313131;
		background-color: #f3f3f3;

		&-left,
		&-right {
			position: relative;
			display: flex;
		}

		&-center {
			margin-left: 7px;
			margin-right: 7px;
			font-size: 24px;
			font-weight: 700;
		}
	}

	&-time {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 45px;
		margin-left: 2px;
		margin-right: 2px;
		font-size: 24px;
		font-weight: 700;
		border-radius: 8px;
		box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);
		background-color: #fff;
	}

	&-term {
		position: absolute;
		left: 50%;
		top: 100%;
		margin-top: 8px;
		font-size: 12px;
		color: #8d8d8d;
		transform: translateX(-50%);
	}

	&--success {
		.aside-timer__main {
			background-color: rgba(#44b759, .1);
		}

		.aside-timer__main-center,
		.aside-timer-time {
			color: #44b759
		}
	}

	&--error {
		.aside-timer__main {
			background-color: rgba(#ff5b5b, .1);
		}

		.aside-timer__main-center,
		.aside-timer-time {
			color: #ff5b5b
		}
	}

	&--warning {
		.aside-timer__main {
			background-color: rgba(#ffa800, .1);
		}

		.aside-timer__main-center,
		.aside-timer-time {
			color: #ffa800
		}
	}
}
