.modal {
	&-wrap {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1043;
		outline: none !important; //sass-lint:disable-line no-important
		background-color: rgba(map-get($colors, light), .7);
		display: none;

		&.modal-ready {
			display: block;
		}
	}

	&-preloader {
		color: #ccc;
		position: absolute;
		top: 50%;
		width: auto;
		text-align: center;
		margin-top: -.8em;
		left: 8px;
		right: 8px;
		z-index: 1044;
		user-select: none;

		.modal-ready & {
			display: none;
		}
	}

	&-container {
		text-align: center;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		box-sizing: border-box;

		&::before {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			width: 0;
		}
	}

	&-content {
		$t: map-get($transitions, normal);
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 auto;
		text-align: left;
		z-index: 1045;
		width: 99%;
		cursor: auto;
		overflow: hidden auto;

		@include media(def, max) {
			height: 100%;
			background-color: rgba(255, 255, 255, 0.902);
			padding-bottom: 1rem;
		}

		& > * { // sass-lint:disable-line no-universal-selectors
			opacity: 0;
			transform: scale(.8);
			transition: transform .2s ease-in-out, opacity .2s ease-in-out;
		}

		.modal-ready & {
			& > * { // sass-lint:disable-line no-universal-selectors
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	&-close {
		$t: map-get($transitions, normal);
		position: absolute;
		top: 10px;
		right: 10px;
		fill: map-get($colors, main);
		border-radius: 100%;
		border: 2px solid map-get($colors, light);
		background-color: transparent;
		box-shadow: 0 6px 12px 0 rgba(61, 61, 61, 0.2);
		width: rem(40);
		height: rem(40);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		cursor: pointer;
		transition: background-color $t, fill $t, border-color $t;

		[dir="rtl"] & {
			right: auto;
			left: 10px;
		}

		&:hover {
			border-color: map-get($colors, main);
			fill: map-get($colors, light);
			background-color: map-get($colors, main);
		}

		@include media(def) {
			top: 0;
			right: 0;
			transform: translateX(185%);

			[dir="rtl"] & {
				right: auto;
				left: 0;
				transform: translateX(-185%);
			}
		}

		.svg {
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
			font-size: 0;
		}

		svg {
			width: rem(16);
			height: rem(16);
		}
	}
}
