.summary-nav {
	text-align: center;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;

	@include media(sm, max) {
		flex-direction: column;
		align-items: center;
	}

	.button {
		padding: 12px 20px;
		text-decoration: none;
		min-width: 180px;
		margin-bottom: 15px;

		@include media(sm) {
			margin-right: 20px;

			[dir="rtl"] & {
				margin-right: 0;
				margin-left: 20px;
			}

			&:last-of-type {
				margin-right: 0;

				[dir="rtl"] & {
					margin-left: 0;
				}
			}
		}




		&.disabled {
			cursor: auto;
			pointer-events: none;
			opacity: 0.6;
		}
	}

	&__prev {
		color: #909090;
		background-color: #fcfcfc;
	}

	&__next {
		background-color: #64d3cf;
		border: 2px solid #64d3cf;
		transition: ease-out 0.15s linear;

		&:hover {
			background-color: map-get($colors, main);
			border-color: rgba(map-get($colors, main), 0.5);
		}
	}
}
